<!DOCTYPE html>
<html>
<head>
    <title>August Trollbäck's Projects</title>
    <meta charset="utf-8">
    <link href="../style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="container">
            <h3>
                <%= link_paren("Back to projects list", "/") %>
            </h3>
            <h1><%= project[:title] %></h1>
            <p class="desc">
                <%= project[:desc] %>
            </p>
            <% if project[:tags] %>
                <div class="tags">
                    <% project[:tags].each do |tag| %>
                        <span class="tag"><%= tag %></span>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="container">
        <div class="writing">
            <%= yield %>
        </div>

        <div class="footer">
            August Trollbäck 2018 / <a href="mailto:aug@mit.edu">Contact</a>
        </div>
    </div>
</body>
</html>
